<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd" bootstrap="tests/bootstrap.php"
         colors="true" executionOrder="default" failOnRisky="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Modules">
            <!-- Include all module tests recursively -->
            <directory suffix="Test.php">tests/Module</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
